<h1>Type Something You Want Translated!</h1>
<form action="/auth/translate" method="POST">
    <label for="title">Title</label>
    <input id="title" type="title" name="title">

    <label for="preTranslate">Text:</label>
    <input id="preTranslate" type="translate" name="translate">
    
    <label for="language">Original Language:</label>
        <select id="preLanguage" type="preLangauge" name="preLanguage">
            <option value="ko">Korean</option>
            <option value="en">English</option>
            <option value="ja">Japanese</option>
            <option value="zh-CN">Chinese</option>
            <option value="de">German</option>
            <option value="fr">French</option>
            <option value="it">Italian</option>
        </select>
    
    <label for="newLanguage">Translate Language:</label>
        <select id="postLanguage" type="postLanguage" name="postLanguage">
            <option value="ko">Korean</option>
            <option value="en">English</option>
            <option value="ja">Japanese</option>
            <option value="zh-CN">Chinese</option>
            <option value="de">German</option>
            <option value="fr">French</option>
            <option value="it">Italian</option>
        </select>
  
    <input type="submit" value="Translate">
</form>
